<p>
  <b>Name:</b>
  <%= @job_response.user.name %>
</p>

<p>
  <b>Email:</b>
  <%= @job_response.user.email %>
</p>

<p>
  <b>Response:</b>
  <%= @job_response.response %>
</p>

<p>
  <b>Resume:</b>
  <%= @job_response.resume %>
</p>

<%= link_to "Back to Reponses", job_post_job_responses_path(@job_response.job_post) %>
